.mountainBG {
  background: url("/mountainBG.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.glow {
  filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.8)); /* Cyan glow */
}
